{{ friendModel | json }}

<form #FriendbookForm="ngForm" (ngSubmit)="submitForm()">
  <label for="firstName">First name:</label><br>
  <input type="text" id="firstName" name="firstname" [(ngModel)]="friendModel.firstName"
         #firstname="ngModel" [class.invalid]="firstname.invalid && firstname.touched" pattern="[a-zA-Z ']*" required><br>

  <label for="lastName">Last name:</label><br>
  <input type="text" id="lastName" name="lastname" [(ngModel)]="friendModel.lastName"
         #lastname="ngModel" [class.invalid]="lastname.invalid && lastname.touched" pattern="[a-zA-Z ']*" required><br>

  <label for="email">email:</label><br>
  <input type="email" id="email" name="email" [(ngModel)]="friendModel.email"
         #email="ngModel" [class.invalid]="email.invalid && email.touched"   [email]="true" required><br>

  <label for="phoneNumber">Phone number:</label><br>
  <input type="tel" id="phoneNumber" name="phoneNumber" [(ngModel)]="friendModel.phoneNumber"
         #phoneNumber="ngModel" [class.invalid]="phoneNumber.invalid && phoneNumber.touched" pattern="[+/ )0-9]*" maxlength="16" required><br>

  <label for="favLanguage">Favourite language:</label><br>
  <select name="favouriteLanguage " id="favLanguageSelection" [(ngModel)]="friendModel.favouriteLanguage"
          #FavouriteLanguage="ngModel" [class.invalid]="FavouriteLanguage.invalid && FavouriteLanguage.touched"  required>
    <option *ngFor="let language of languageArray" [value]="language" id="favLanguage">
      {{language}}
    </option>
  </select> <br>

  <button type="submit"  [disabled]="FriendbookForm.form.invalid" >Submit</button>

</form>
